/*-- General --*/
#velos-homme::before, #velos-femme::before, #velos-enfant::before{
    content: "";
    display: block;
    height: 1px; /* fixed header height*/
    margin: -1px 0 0; /* negative fixed header height */
}

#header-top::before{
    content: "";
    display: block;
    height: 66px;       
}


/*---- Navbar ---- */
header #navbar-custom{
    background-color: #563D7C;
}

#navbar-custom img:hover{
    transform: rotate(-15deg);    
}

#navbar-custom .navbar-brand{
    color: #FFE484;
    font-size: 1.3em; 
    font-weight: 400;   
}

#navbar-custom .nav-link{
    color: #FFE484;
}

header .fa-shopping-cart{
    background: #563D7C;
    color: #FFE484;  
    transform: scale(1.4)
}

header .fa-shopping-cart:hover{
    background: #563D7C;
    color: #edbb15;  
    transform: scale(1.7) rotate(-12deg);
}

header .cart{
    background: #563D7C;
    color: #FFE484;
    transform: scale(1.4);
}

header .cart:hover{
    background: #563D7C;
    color: #edbb15;    
}

header .items-counter{   
     
    color:#FFE484;    
}


.navbar-toggler-icon{
    color: #FFE484;
}

.nav-item a{
    background: #FFE484;    
    border: 1px solid black;  
}

.nav-item a:hover{
    background: #edbb15;
    transform: scale(1.02);   
}


/* --- Tabs --- */

.category{
    display: none;
}

.category.displayed{
    display: block;
}

/* --- Produits (les cards) --- */

.product {
    cursor: pointer;
    margin-bottom: 2rem; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}
.product img {
    transition: 0.3s all;
}
.product #buy-btn,.product .get-btn{
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover #buy-btn,.product:hover .get-btn{  
    transform: translateY(0);
    opacity: 1;   
}

.product .buy-btn,.product .get-btn{
    background-color: #563D7C;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
    color: #FFE484;
}
.product:hover .buy-btn,.product:hover .get-btn{
  
    transform: translateY(0);
    opacity: 1;
   
}
hr {
    height: 2px;
    width: 50px;
    background-color: #fb774b;
}
.star {
    font-size: 0.9rem;
    color: goldenrod;
}
.star .star-1 {
    font-size: 0.9rem;
    color: #000;
}
.product button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.product .info-flex {
    text-align: left;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;

}
.p-price {
    text-decoration:2px underline overline solid goldenrod;    
}

#velos-homme h2, #velos-femme h2, #velos-enfant h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}
#velos-homme h3, #velos-femme h3, #velos-enfant h3 {
    font-family: 'Newsreader', serif;
    font-weight: bold;
}


/***** Fin les cards ****/
/********Avis*******/
.titre-avis{
    color:#FFE484;
}
.comment-section{
    align-items: center;
}
.comment-rate {
    color: goldenrod;
  }
.image-david{
    overflow: hidden;
}
.bg-1{
    background-color: #cacaca;
}
.bg-2{
    background-color:#f5f4ef;
  
}

/*******************
        FOOTER
*******************/
footer{
    background-color: #563D7C;
}
footer i{
    color: #FFE484;
}
a{
    text-decoration: none;
}
.contact-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.copyright{
    font-size: 0.8rem;
}




